<h1 *ngIf="followers">
  My Followers
</h1>
<br/>
<div *ngFor="let follower of followers">
  <div class="well">
    <ul class="list-group">
      <li class="list-group-item">
        Name : {{ follower.ID }}
      </li>
      <li class="list-group-item">
        Name : {{ follower.NAME }}
      </li>
      <li class="list-group-item">
        Handle : {{ follower.HANDLE }}
      </li>
      <li class="list-group-item">
        <button class="btn btn-danger btn-sm" (click)="follow(follower.ID)">follow</button>
      </li>
      <br/>
    </ul>
  </div>
</div>
